:root {
  --color-bg: #d9fdfd;
  --color-white: #ffffff;
  --color-primary: #b81f1f;
  --color-primary-hover: #6e1313;
  --color-title: #bf3535;
  --color-subtitle: #d47979;
  --color-text: #333333;
  --color-second-text: #5c5c5c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: "Mulish", sans-serif;
}

/* NAV */
.header {
  display: flex;
  background-color: var(--color-white);
  justify-content: space-between;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 22222;
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-img {
  width: 72px;
  height: auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 28px;
  padding-right: 28px;
}

.nav-list-item:link,
.nav-list-item:visited {
  font-size: 20px;
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.3s;
  display: inline-block;
  font-weight: 400;
}

.nav-list-item:hover,
.nav-list-item:active {
  color: var(--color-primary-hover);
  font-weight: 600;
}

/* Hero section*/
.hero-section {
  display: flex;
  justify-content: center;
  gap: 48px;
  height: 90vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 42px;
}

.title {
  color: var(--color-title);
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 12px;
}

.under-title {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-subtitle);
}

.link--contact:link,
.link--contact:visited {
  align-self: start;
  border: none;
  color: var(--color-white);
  background-color: #b81f1f;
  margin-top: 24px;
  text-decoration: none;
}

.link--contact:hover,
.link--contact:active {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
  border: 1px solid var(--color-primary-hover);
  transform: translateY(-5px);
}

.section-title {
  color: var(--color-title);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

.hero-img-container {
  display: flex;
  align-items: center;
}

.hero-img {
  align-self: center;
}

/* About section */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 180px;
}

.about-text {
  padding: 30px;
  font-size: 18px;
  width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  line-height: 1.6;
  color: var(--color-text);
}

/* Projects section */
.project-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  align-items: center;
}

.section-grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 42px;
  padding-inline: 70px;
}

.project-card {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px;
}

.project-img {
  width: 100%;
  height: 200px;
}

.project-navigation {
  display: flex;
  justify-content: space-between;
}

.github-link:link,
.github-link:visited {
  color: black;
  transition: all 0.3s ease-in-out;
}

.github-link:hover,
.github-link:active {
  color: var(--color-primary-hover);
  transform: translateY(-1px) translateX(2px);
  scale: 1.1;
}

.project-name {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-title);
  padding-bottom: 14px;
}

.project-description {
  font-size: 16px;
  color: var(--color-text);
  line-height: 1.4;
  padding-bottom: 18px;
}

.tech-list {
  list-style: none;
  display: flex;
  gap: 10px;
  color: var(--color-second-text);
  font-size: 10px;
  text-transform: uppercase;
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 120px;
}

.contact-under-title {
  font-size: 14px;
  color: var(--color-subtitle);
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--color-white);
  width: 500px;
  padding: 24px;
  border-radius: 10px;
}

.form-input input {
  font-family: inherit;
  font-size: 14px;
  border: 1px solid #ecc2c2;
  border-radius: 5px;
  width: 100%;
  padding: 8px;
}

.form-input label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.submit--btn {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  align-self: end;
  margin: 4px;
  transition: all 0.3s ease-in;
}

.submit--btn:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
  border: 1px solid var(--color-primary-hover);
}

/* Footer */

.footer-section {
  padding: 20px 0;
}

.footer-section p {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-text);
}

/* General styles*/
.btn {
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  font-family: inherit;
}
