:root {
  --color-bg: #d9fdfd;
  --color-white: #ffffff;
  --color-primary: #b81f1f;
  --color-primary-hover: #6e1313;
  --color-title: #bf3535;
  --color-subtitle: #d47979;
  --color-text: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: "Mulish", sans-serif;
}

/* NAV */
.header {
  display: flex;
  background-color: var(--color-white);
  justify-content: space-between;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 22222;
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-img {
  width: 72px;
  height: auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 28px;
  padding-right: 28px;
}

.nav-list-item:link,
.nav-list-item:visited {
  font-size: 20px;
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.3s;
  display: inline-block;
  font-weight: 400;
}

.nav-list-item:hover,
.nav-list-item:active {
  color: var(--color-primary-hover);
  font-weight: 600;
}

/* Hero section*/
.hero-section {
  padding-left: 42px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 90vh;
}

.title {
  color: var(--color-title);
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 12px;
}

.under-title {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-subtitle);
}

.link--contact:link,
.link--contact:visited {
  align-self: start;
  border: none;
  color: var(--color-white);
  background-color: #b81f1f;
  margin-top: 24px;
  text-decoration: none;
}

.link--contact:hover,
.link--contact:active {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
  border: 1px solid var(--color-primary-hover);
  transform: translateY(-5px);
}

.section-title {
  color: var(--color-title);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

/* About section */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 180px;
}

.about-text {
  padding: 30px;
  font-size: 18px;
  width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  line-height: 1.6;
  color: var(--color-text);
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:120px;
}

.contact-under-title {
  font-size: 14px;
  color: var(--color-subtitle);
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--color-white);
  width: 500px;
  padding: 24px;
  border-radius: 10px;
}

.form-input input {
  font-family: inherit;
  font-size: 14px;
  border: 1px solid #ecc2c2;
  border-radius: 5px;
  width: 100%;
  padding: 8px;
}

.form-input label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.submit--btn {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  align-self: end;
  margin: 4px;
}

.submit--btn:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
  border: 1px solid var(--color-primary-hover);
  transform: translateY(-5px);
}

/* General styles*/
.btn {
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.7s ease;
  font-family: inherit;
}

/* Footer */

.footer-section {
  padding: 20px 0;
}

.footer-section p {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-text);
}
