* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9fdfd;
  font-family: "Mulish", sans-serif;
}

.nav {
  height: 54px;
  padding: 24px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-list-item a {
  font-size: 24px;
  padding-right: 24px;
}

.nav-list-item a {
  text-decoration: none;
  color: #b81f1f;
}

.nav-list-item:hover {
  color: #6e1313;
  font-weight: 600;
}

.hero-section {
  margin: 42px 0 24px 48px;
  height: 28vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 12px;
}

.title {
  color: #bf3535;
  font-size: 52px;
  font-weight: 700;
}

.under-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #d47979;
}

.section-title {
  color: #bf3535;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35vh;
}

.about-text {
  padding: 14px;
  font-size: 18px;
  width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  line-height: 1.6;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  width: 500px;
  padding: 24px;
}

input {
  font-family: inherit;
  font-size: 24px;
  border: 1px solid  #bf3535;
}

label {
  font-size: 20px;
}

.submit-btn {
  background-color: white;
  color: #bf3535;
  border: 1px solid #bf3535;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 18px;
  display: flex;
  justify-self: end;
}
